# BibRec: Data Normalization

## Encode Dataset

In [1]:
from bibrec.server.Utils import *

books = get_books(books_path='data/BX-Books.csv')
users = get_users(users_path='data/BX-Users.csv')
ratings = get_ratings(books, ratings_path='data/BX-Book-Ratings.csv', explicit_only=False)

# normalize data
norm_books, norm_users, norm_ratings = normalize_data(books, users, ratings)

/Dev/repos/FH-SBG/MMT1/RES/recommender-systems/bibrec/server/Utils.py:34: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, sep=";", encoding="latin-1", index_col=False)
/Dev/repos/FH-SBG/MMT1/RES/recommender-systems/bibrec/server/Utils.py:119: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  location_seperated = users.location.str.split(',', 2, expand=True)
/Dev/repos/FH-SBG/MMT1/RES/recommender-systems/bibrec/server/Utils.py:335: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  normalized_ratings["normalized_rating"] = tmp.book_rating - tmp["user_mean"]

In [2]:
# export normalized data to CSV Files
export_normalized_data(norm_books, norm_users, norm_ratings)

(              isbn                                         book_title  \
 0       0195153448                                Classical Mythology
 1       0002005018                                       Clara Callan
 2       0060973129                               Decision in Normandy
 3       0374157065  Flu: The Story of the Great Influenza Pandemic...
 4       0393045218                             The Mummies of Urumchi
 ...            ...                                                ...
 270939  0440400988                         There's a Bat in Bunk Five
 270940  0525447644                            From One to One Hundred
 270941  006008667X  Lily Dale : The True Story of the Town that Ta...
 270942  0192126040                        Republic (World's Classics)
 270943  0767409752  A Guided Tour of Rene Descartes' Meditations o...

                  book_author  year_of_publication publisher  \
 0         Mark P. O. Morford                 2002     other
 1       Richard Bruce Wright                 2001     other
 2               Carlo D'Este                 1991     other
 3           Gina Bari Kolata                 1999     other
 4            E. J. W. Barber                 1999     other
 ...                      ...                  ...       ...
 270939        Paula Danziger                 1988     other
 270940            Teri Sloat                 1991     other
 270941      Christine Wicker                 2004     other
 270942                 Plato                 1996     other
 270943   Christopher  Biffle                 2000     other

                                               image_url_s  \
 0       http://images.amazon.com/images/P/0195153448.0...
 1       http://images.amazon.com/images/P/0002005018.0...
 2       http://images.amazon.com/images/P/0060973129.0...
 3       http://images.amazon.com/images/P/0374157065.0...
 4       http://images.amazon.com/images/P/0393045218.0...
 ...                                                   ...
 270939  http://images.amazon.com/images/P/0440400988.0...
 270940  http://images.amazon.com/images/P/0525447644.0...
 270941  http://images.amazon.com/images/P/006008667X.0...
 270942  http://images.amazon.com/images/P/0192126040.0...
 270943  http://images.amazon.com/images/P/0767409752.0...

                                               image_url_m  \
 0       http://images.amazon.com/images/P/0195153448.0...
 1       http://images.amazon.com/images/P/0002005018.0...
 2       http://images.amazon.com/images/P/0060973129.0...
 3       http://images.amazon.com/images/P/0374157065.0...
 4       http://images.amazon.com/images/P/0393045218.0...
 ...                                                   ...
 270939  http://images.amazon.com/images/P/0440400988.0...
 270940  http://images.amazon.com/images/P/0525447644.0...
 270941  http://images.amazon.com/images/P/006008667X.0...
 270942  http://images.amazon.com/images/P/0192126040.0...
 270943  http://images.amazon.com/images/P/0767409752.0...

                                               image_url_l         isbn13  \
 0       http://images.amazon.com/images/P/0195153448.0...  9780195153446
 1       http://images.amazon.com/images/P/0002005018.0...  9780002005012
 2       http://images.amazon.com/images/P/0060973129.0...  9780060973124
 3       http://images.amazon.com/images/P/0374157065.0...  9780374157067
 4       http://images.amazon.com/images/P/0393045218.0...  9780393045215
 ...                                                   ...            ...
 270939  http://images.amazon.com/images/P/0440400988.0...   978044040095
 270940  http://images.amazon.com/images/P/0525447644.0...   978052544763
 270941  http://images.amazon.com/images/P/006008667X.0...  9780060086671
 270942  http://images.amazon.com/images/P/0192126040.0...  9780192126047
 270943  http://images.amazon.com/images/P/0767409752.0...  9780767409759

         rating_mean  rating_count  normalized_year_of_publication
 0          0.000000           1.0                               3
 1          4.928571          14.0                               4
 2          5.000000           3.0                              14
 3          4.272727          11.0                               6
 4          0.000000           1.0                               6
 ...             ...           ...                             ...
 270939     7.000000           1.0                              17
 270940     4.000000           1.0                              14
 270941     0.000000           1.0                               1
 270942     0.000000           1.0                               9
 270943     0.000000           1.0                               5

 [270944 rows x 12 columns],
         user_id        age         city       state         country  \
 0             1  33.722536          nyc    new_york             usa
 1             2  18.000000     stockton  california             usa
 2             3  33.030485       moscow       other           other
 3             4  17.000000        porto       other        portugal
 4             5  59.370940  farnborough       other  united_kingdom
 ...         ...        ...          ...         ...             ...
 278853   278854  24.872503     portland      oregon             usa
 278854   278855  50.000000       tacoma  washington  united_kingdom
 278855   278856  47.469696     brampton     ontario          canada
 278856   278857  36.158853    knoxville       other             usa
 278857   278858  35.491503       dublin         n/a           other

         user_mean  user_count
 0            0.00         0.0
 1            0.00         1.0
 2            0.00         0.0
 3            0.00         0.0
 4            0.00         0.0
 ...           ...         ...
 278853       5.25         8.0
 278854       0.00         0.0
 278855       0.00         0.0
 278856       0.00         0.0
 278857       0.00         0.0

 [278858 rows x 7 columns],
          user_id        isbn  book_rating         isbn13  normalized_rating
 1         276726  0155061224            5  9780155061224               -1.5
 3         276729  052165615X            3  9780521656153                0.0
 4         276729  0521795028            6  9780521795029                4.0
 8         276744  038550120X            7  9780385501200                2.0
 16        276747  0060517794            9  9780060517793                4.6
 ...          ...         ...          ...            ...                ...
 1149771   276704  0743211383            7  9780743211383                NaN
 1149773   276704  0806917695            5  9780806917696                NaN
 1149775   276704  1563526298            9  9781563526299                NaN
 1149777   276709  0515107662           10  9780515107661                NaN
 1149778   276721  0590442449           10  9780590442442                NaN

 [383962 rows x 5 columns])

In [3]:
# load normalized csv files
norm_books, norm_users, norm_ratings = get_normalized_data(books_path='data/normalized_books.csv',
                                                           users_path='data/normalized_users.csv',
                                                           ratings_path='data/normalized_ratings.csv')

/Dev/repos/FH-SBG/MMT1/RES/recommender-systems/bibrec/server/Utils.py:392: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  ratings = pd.read_csv(ratings_path, sep=",", encoding="utf-8", na_filter=False)

## Hot Encoded Dataset

In [4]:
from bibrec.server.Utils import hot_encode_books, hot_encode_users
encoded_books = hot_encode_books(norm_books)
encoded_books.to_csv('data/encoded_books.csv')

hot encoding books

In [5]:
encoded_users = hot_encode_users(norm_users)
encoded_users.to_csv('data/encoded_users.csv')

In [6]:
encoded_books.describe()

,year_of_publication,isbn13,rating_mean,rating_count,normalized_year_of_publication,publisher_ballantine_books,publisher_bantam_books,publisher_berkley_publishing_group,publisher_fawcett_books,publisher_harlequin,...,publisher_random_house_inc,publisher_scholastic,publisher_signet_book,publisher_silhouette,publisher_simon_&amp;_schuster,publisher_st._martin's_press,publisher_st_martins_pr,publisher_tor_books,publisher_warner_books,publisher_zebra_books
count,270944.000000,2.709440e+05,270944.000000,270944.000000,270944.000000,270944.000000,270944.000000,270944.000000,270944.000000,270944.000000,...,270944.000000,270944.000000,270944.000000,270944.000000,270944.00000,270944.000000,270944.000000,270944.000000,270944.000000,270944.000000
mean,1993.114920,8.959982e+12,2.871698,3.806694,11.885080,0.013922,0.013446,0.010187,0.008326,0.027806,...,0.007529,0.011696,0.007640,0.015568,0.01091,0.006551,0.007204,0.006289,0.010028,0.006252
std,9.320961,2.575736e+12,3.281596,13.805660,9.320961,0.117166,0.115173,0.100414,0.090869,0.164418,...,0.086444,0.107515,0.087072,0.123796,0.10388,0.080674,0.084573,0.079054,0.099636,0.078824
min,1376.000000,9.782000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1989.000000,9.780373e+12,0.000000,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1995.000000,9.780554e+12,1.800000,1.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2000.000000,9.780871e+12,5.000000,3.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2005.000000,9.790000e+12,10.000000,2502.000000,629.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
encoded_users.describe()

,user_id,age,user_mean,user_count,country_argentina,country_australia,country_austria,country_brazil,country_canada,country_china,...,state_nordrhein-westfalen,state_north_carolina,state_ohio,state_ontario,state_oregon,state_other,state_pennsylvania,state_texas,state_virginia,state_washington
count,278858.00000,278858.000000,278858.000000,278858.000000,278858.000000,278858.000000,278858.000000,278858.000000,278858.000000,278858.000000,...,278858.000000,278858.000000,278858.000000,278858.000000,278858.000000,278858.000000,278858.000000,278858.000000,278858.000000,278858.000000
mean,139429.50000,34.889298,1.451977,3.698610,0.003855,0.042025,0.004067,0.005982,0.077301,0.005236,...,0.013961,0.013376,0.016801,0.031331,0.015499,0.514556,0.021818,0.030094,0.015456,0.020885
std,80499.51502,13.833356,2.850048,51.265846,0.061969,0.200647,0.063640,0.077109,0.267069,0.072168,...,0.117327,0.114879,0.128524,0.174212,0.123526,0.499789,0.146088,0.170847,0.123357,0.143000
min,1.00000,0.005720,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,69715.25000,24.875177,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,139429.50000,33.016074,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,209143.75000,44.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,278858.00000,110.000000,10.000000,11152.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000