# BibRec: Training Random Forest Model

### Evaluation API: All params
WIP

In [66]:
from bibrec.server.Utils import *

books, users, ratings = get_normalized_data(books_path='data/normalized_books.csv',
                                            users_path='data/normalized_users.csv',
                                            ratings_path='data/normalized_ratings.csv')

/Dev/repos/FH-SBG/MMT1/RES/recommender-systems/bibrec/server/Utils.py:8: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(path, sep=";", encoding="latin-1")

With NaN values 34.862889904962536
used mean values 34.84723582290389

/Dev/repos/FH-SBG/MMT1/RES/recommender-systems/bibrec/server/Utils.py:40: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  location_seperated = users.location.str.split(',', 2, expand=True)

In [25]:
from os.path import exists
import pickle

# Load the model from the file
model_file = "rf5.pkl"

if not exists(model_file):
    exit("No model found")

print("Loading file:", model_file)
with open(model_file, "rb") as file:
    rfc = pickle.load(file)

Loading file: rf5.pkl

In [43]:
userId = 1
age = 20
locationCity = None
locationState = None
locationCountry = "asldörfja"
df_user = pd.DataFrame([{
    'user_id': userId,
    'age': age,
    'city': locationCity,
    'state': locationState,
    'country': locationCountry
}])
df_user = normalize_country(df_user, users.country)
df_user = normalize_state(df_user)
df_user = hot_encode_users(df_user)
df_user = df_user.filter(regex="user_id|age|country_|state_", axis=1)
df_user

,user_id,age,country_usa,country_canada,country_united_kingdom,country_germany,country_spain,country_australia,country_italy,country_france,...,state_ohio,state_michigan,state_oregon,state_virginia,state_massachusetts,state_missouri,state_nordrhein-westfalen,state_north_carolina,state_,state_other
0,1,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [45]:
itemId=1
publisher = "SomeUnkownPublisher"
year_of_publication = 2002
df_book = pd.DataFrame([{
    'isbn13':itemId,
    'year_of_publication': year_of_publication,
    'publisher': publisher
}])
df_book = normalize_year_of_publication(df_book)
df_book = normalize_publisher(df_book)
df_book = hot_encode_books(df_book)
df_books = df_book.filter(regex="isbn13|normalized_year_of_publication|publisher_", axis=1)
df_book

,isbn13,year_of_publication,normalized_year_of_publication,publisher_harlequin,publisher_silhouette,publisher_pocket,publisher_ballantine_books,publisher_bantam_books,publisher_scholastic,publisher_simon_&amp;_schuster,...,publisher_harpercollins,publisher_fawcett_books,publisher_signet_book,publisher_random_house_inc,publisher_st_martins_pr,publisher_st._martin's_press,publisher_tor_books,publisher_harpercollins_publishers,publisher_zebra_books,publisher_other
0,1,2002,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [63]:
# df_input = pd.concat([df_user.drop("user_id"), df_book.drop("isbn13")], axis=1)
# df_input
df_input = pd.concat([df_user, df_book], axis=1)
df_input = df_input.drop(['user_id', 'year_of_publication'], axis=1)
df_input

,age,country_usa,country_canada,country_united_kingdom,country_germany,country_spain,country_australia,country_italy,country_france,country_portugal,...,publisher_harpercollins,publisher_fawcett_books,publisher_signet_book,publisher_random_house_inc,publisher_st_martins_pr,publisher_st._martin's_press,publisher_tor_books,publisher_harpercollins_publishers,publisher_zebra_books,publisher_other
0,20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [65]:
rfc.predict(df_input)

/home/fab/.local/lib/python3.10/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

array([8])